* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
    position: relative;
    height: 120px;
    overflow: hidden;
}

h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    text-align: center;
}

.header img {
    width: 100%;
    height: auto;
    display: block;
    opacity: 0.45;
}

.container {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.food {
    position: relative;
    cursor: pointer;
    text-align: center;
}

.name {
    display: block;
    padding: 15px;
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 10px;
    z-index: 1;
}

.pic {
    display: none;
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    padding: 10px;
    top: 100%;
    z-index: 2;
}

.pic img {
    max-width: 220px;
    height: auto;
}

@media only screen and (max-width: 500px) {
    .container{
        grid-template-columns: repeat(2, 1fr);
    }
}